body {
  background-color: #3a3b98;
}

table, th, td {
  border: 1px solid black;
}

footer{
  color: white;
  text-align: center;
  font-size: 12px;
  background-color: #72983a;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 100;
}